@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You can see the villa list here <a asp-action="Index" asp-controller="Villa">Villas</a></p>    
</div>
