@{
    ViewData["Title"] = "🤔 Hmmm...";
}

<div class="d-flex align-items-center justify-content-center my-lg-5">
    <div class="text-center">
        <h1 class="display-1 fw-bold">500</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Something went wrong.</p>
        <p class="lead">
            It's not you it's us, please revisit after sometime...
        </p>
        <a asp-action="Index" asp-controller="Home" class="btn btn-outline-primary w-100">Go Home</a>
    </div>
</div>