@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

<ul class="navbar-nav">
    @if (!signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Account" asp-action="Register" class="nav-link">Register</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link">👋 Hello, @userManager.GetUserName(User)</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Account" asp-action="Logout" class="nav-link">Logout</a>
        </li>
    }
</ul>